footer {
    height: 80px;
    background: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 17px;
}

footer section {
    width: 100%;
}

footer textarea {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    padding: 0px;
}

textarea::placeholder {
    color: black;
}

footer button {
    border: none;
    background-color: white;
}

footer ion-icon {
    font-size: 30px;
}

footer p {
    /*display: none;*/
    font-size: 14px;
    font-weight: 300;
    color: #747474;
}